@tailwind base;
@tailwind components;
@tailwind utilities;

/* BTNS */
*::selection {
  @apply bg-hero-500 text-prim;
}

.buy-btn {
  @apply hover:bg-hero-600 bg-hero-500 duration-300 px-2 py-1 text-prim font-bold rounded-[8px];
}

.categories-div button {
  @apply px-4 py-2 sm:text-sm bg-hero-400 capitalize text-prim rounded-full hover:bg-neutral-800 duration-200;
}
/* BTNS */
.image-photo {
  animation: phoneAnimation 9s ease-in-out infinite alternate;
}

@keyframes phoneAnimation {
  0% {
    rotate: 2deg;
    transform: translateY(0);
  }
  50% {
    rotate: -2deg;
    transform: translateY(-10px);
  }
  100% {
    rotate: 0deg;
    transform: translateY(0);
  }
}
